<template lang="html">
    <h3 v-text="totalAuctionSystem"></h3>
</template>

<script>
export default {
	props: ['loading'],
	created(){
        this.fetchUsers()
    },
    data(){
        return {
        	totalAuctionSystem: "0",
        	fetchUsers(){
	            this.$http.get('auction/auction-system.getTotalAuctionSystem').then(response => {
	                this.totalAuctionSystem = response.data.totalAuctionSystem;
	                this.$emit('finish-loading');
	            });
	        }
        }
    }
}
</script>