<template lang="html">
    <q-layout>
        <div slot="header" class="toolbar">
            <button class="hide-on-drawer-visible" @click="$refs.leftDrawer.open()">
                <i>menu</i>
            </button>
            <q-toolbar-title :padding="1">
                Title
            </q-toolbar-title>
            <button class="hide-on-drawer-visible" @click="$refs.rightDrawer.open()">
                <i>menu</i>
            </button>
        </div>
        <q-tabs slot="navigation">
            <q-tab icon="mail" route="/layout" exact replace>Mails</q-tab>
            <q-tab icon="alarm" route="/layout/alarm" exact replace>Alarms</q-tab>
            <q-tab icon="help" route="/layout/help" exact replace>Help</q-tab>
        </q-tabs>
        <q-drawer ref="leftDrawer">
            <div class="toolbar">
                <q-toolbar-title>
                    Drawer Title
                </q-toolbar-title>
            </div>
            <div class="list no-border platform-delimiter">
                <q-drawer-link icon="mail" :to="{path: '/', exact: true}">
                    Link
                </q-drawer-link>
            </div>
        </q-drawer>
        <router-view class="layout-view"></router-view>
        <div class="layout-view"></div>
        <q-drawer ref="rightDrawer" right-side>
        ...
        </q-drawer>
        <div slot="footer" class="toolbar">
        ....
        </div>
    </q-layout>
</template>


<script>
export default {

    data: function() {
        return {

        };
    },

    mounted() {
        console.log('Component mounted.')
    }
}
</script>
