<template lang="html">
    <div>
        <form v-on:submit.prevent="createUser" method="post">
            <div v-bind:class="{'form-group': true, 'has-error': errors.name}">
                <label>Name:</label>
                <input type="text" v-model="user.name" class="form-control">
                <span class="help-block" v-for="error in errors.name" :key="errors.id">{{ error }}</span>
            </div>

            <div v-bind:class="{'form-group': true, 'has-error': errors.email}">
                <label>Email:</label>
                <input type="email" v-model="user.email" class="form-control">
                <span class="help-block" v-for="error in errors.email" :key="errors.id">{{ error }}</span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create New User</button>
            </div>
        </form>

        <table v-if="users" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <user v-for="user in users" :key="user.id"
                    v-bind:user="user"
                    v-on:delete-user="deleteUser"
                    v-on:update-user="fetchUsers"
                >
                </user>
            </tbody>
        </table>
    </div>
</template>

<script>
import user from './User.vue';
export default {
    data(){
        return {
            users: false,
            errors: [],
            user:{
                name: '',
                email: ''
            }
        }
    },
    components:{ user },
    created(){
        this.fetchUsers()
    },
    methods: {
        fetchUsers(){
            this.$http.get('/user').then(response => {
                this.users = response.data.users;
            });
        },
        createUser(){
            this.errors = [];
            this.$http.post('/user', this.user).then(response => {
                this.users.push(response.data.user);
                this.user = {name: '', email:''};
            }, response => {
                this.errors = response.data;
            });
        },
        deleteUser(user){
            this.errors = [];
            this.$http.delete('/user/' + user.id).then(response => {
                let index = this.users.indexOf(user);
                this.users.splice(index, 1);
            });
        }
    }
}
</script>