<template lang="html">
    <tr>
        <td>
            <div v-bind:class="{'form-group': true, 'has-error': errors.name}">
                <input type="text"  class="form-control"
                    v-model="editForm.name" v-if="edit">
                <span v-else>{{ user.name }}</span>
            </div>
        </td>

        <td>
            <div v-bind:class="{'form-group': true, 'has-error': errors.email}">
                <input type="text" class="form-control"
                    v-model="editForm.email" v-if="edit">
                <span v-else>{{ user.email }}</span>
            </div>
        </td>

        <td>
            <button type="button" class="btn btn-info"
                v-on:click="editUser" v-if="!edit">
                Edit
            </button>

            <button type="button" class="btn btn-default"
                v-on:click="cancelEdit" v-if="edit">
                Cancel
            </button>

            <button type="button" class="btn btn-primary"
                v-on:click="updateUser(user, editForm)" v-if="edit">
                Update
            </button>

            <button type="button" class="btn btn-danger"
                v-on:click="$emit('delete-user', user)" v-if="!edit">
                Delete
            </button>
        </td>
    </tr>
</template>

<script>
export default {
    props:['user'],
    data(){
        return {
            errors: [],
            edit: false,
            editForm :{
                name: '',
                email: ''
            }
        }
    },
    methods: {
        editUser(){
            this.errors = [];
            this.edit = true;
            this.editForm.name = this.user.name;
            this.editForm.email = this.user.email;
        },
        cancelEdit(){
            this.errors = [];
            this.edit = false;
            this.editForm.name = '';
            this.editForm.email = '';
        },
        updateUser(oldUser, newUser){
            this.errors = [];
            this.$http.patch('/user/' + oldUser.id, newUser).then(response => {
                this.$emit('update-user');
                this.cancelEdit();
            }, (response) => {
                this.errors = response.data;
            });
        }
    }
}
</script>