<template id="auction-system" lang="html">
    <div>
        <div class="layout-padding">
            <table class="q-table bordered highlight cell-delimiter striped-odd loose" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="text-left">Name</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">In Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-th="Name" class="text-left">Item #1</td>
                        <td data-th="Price" class="text-right">$10.11</td>
                        <td data-th="In Stock" class="text-right">101</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            errors: [],
            loading: true,
        }
    }
}
</script>