
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body,
.drawer-content {
	background: #dee1e2 !important;
}
.content-wrapper {
	width: 100%;
}
.fade-enter-active {
  transition: opacity .4s ease;
}
.fade-leave-active {

}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.loading {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scaleX(0.4) scaleY(0.4);
}
.loading-box {
	opacity: 0.4 !important;
}
.breadcrumb > li + li:before {
    content: none !important;
    padding: 0 !important;
}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}
.bg-blue:hover {
    background-color: #0790fc !important;
}
.small-box>.inner {
    padding: 10px 10px 0;
}
.small-box>.inner p{
    font-weight: bold;
    width: 65%;
}
.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.42857143;
}
.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(0,0,0,0.15);
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -5px;
    right: 10px;
    z-index: 0;
    font-size: 75px;
    color: rgba(0,0,0,0.15);
}
.small-box:hover .icon {
    font-size: 85px;
}
.small-box h3, .small-box p {
    z-index: 5;
    color: #fff !important;
}
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}
.small-box .progress-circular {
	height: 0 !important;
	width: 0 !important;
	display: flow-root !important;
	position: static !important;
}
.sidebar--fixed {
	position: absolute !important;
}


.spinner {
	background-color: #999 !important;
}
.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -50px;
	margin-left: -50px;
	border-radius: 50%;
	border-top: 5px solid #ffffff;
	border-right: 5px solid transparent;
	animation: spinner .6s linear infinite;
}
@keyframes spinner {
	to {transform: rotate(360deg);}
}