<template lang="html">
    <q-drawer>
        <div class="toolbar bg-grey-8">
            <q-search v-model="searchModel" placeholder="Search" class="primary" :debounce="600">
            </q-search>
        </div>
        <div class="list no-border platform-delimiter" v-for="(sidebar,i) in sidebars"
                :key="i">
            <q-drawer-link
                :icon="sidebar.icon"
                :to="{ path: sidebar.route }"
                v-on:click.native="getWidgetsBySidebar(sidebar)">
                {{sidebar.title}}
            </q-drawer-link>
        </div>
    </q-drawer>
</template>

<script>
export default {
    props: ['baseurl', 'widgets', 'sidebars'],
    data(){
        return {
            errors: [],
            searchModel: ""
        }
    },
    created() {
        this.fetchSidebar(),
        this.getWidgetsByDefaultSidebar()
    },
    methods: {
        fetchSidebar(){
            this.$http.get(this.baseurl + 'dashboard/sidebar#index').then(response => {
                var responseData = response.data.sidebars;
                for (var i = 0; i < responseData.length; i++) {
                    Vue.set(this.sidebars, i, responseData[i]);
                }
            });
        },
        getWidgetsByDefaultSidebar(){
            this.$http.get(this.baseurl + 'dashboard/sidebar.getWidgetsByDefaultSidebar').then(response => {
                var responseData = response.data.widgets;
                for (var i = 0; i < responseData.length; i++) {
                    Vue.set(this.widgets, i, responseData[i]);
                }
            });
        },
        getWidgetsBySidebar(sidebar){
            this.$emit('clear-widgets');

            this.$http.get(this.baseurl + 'dashboard/sidebar/' + sidebar.id + '/getWidgetsBySidebarId').then(response => {
                var responseData = response.data.widgets;
                for (var i = 0; i < responseData.length; i++) {
                    Vue.set(this.widgets, i, responseData[i]);
                }
            });
        }
    }
}
</script>