<template class="widget-box" lang="html">
    <div v-bind:class="[widget.box_size]">
        <div v-bind:class="[{'loading-box': loading}, widget.box_class]">
            <template>
                <widget-loader v-bind:loading="loading"></widget-loader>
                <div class="inner">
                    <component v-bind:is="widget.route + '-widget'" v-on:finish-loading="finishLoading"></component>
                    <p>{{ widget.title }}</p>
                </div>
                <div class="icon">
                    <i v-bind:class="[widget.icon]"></i>
                </div>
                <router-link v-if="widget.type == 'info-box'" tag="li" :to="loading == false ? { path: widget.route } : ''" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </router-link>
            </template>
        </div>
    </div>
</template>

<script>
import auctionSystemWidget from './small-widgets/AuctionSystemWidget.vue';
export default {
    props: ['widget'],
    data(){
        return {
            errors: [],
            loading: true
        }
    },
    components:{ auctionSystemWidget },
    created() {
        this.fetchWidget()
    },
    methods: {
        fetchWidget(){

        },
        finishLoading() {
            this.loading = false;
        }
    }
}
</script>