<template class="loader" lang="html">
    <spinner stroke="#000000" width="50" height="50" viewBox="0 0 44 44" v-if="loading" class="q-spinner loading"></spinner>
</template>

<script>
export default {
	props: ['loading'],
    data(){
        return {
        }
    }
}
</script>