<template id="widgets" lang="html">
    <div>
        <div class="layout-padding">
            <div class="row gutter sm-column" v-for="(item, index) in widgets">
                <widget-box v-bind:widget="item">
                </widget-box>
            </div>
        </div>
    </div>
</template>

<script>
import widgetBox from './WidgetBox.vue';

export default {
    props: ['widgets'],
    data(){
        return {
            errors: []
        }
    },
    components: { widgetBox },
    created() {
        this.fetchWidgets()
    },
    methods: {
        fetchWidgets(){
        }
    }
}
</script>